@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css?family=Poppins');
}

body{
    font-family: 'Poppins';
    margin: 0;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}
.Mbottom{
    margin-bottom:4rem;
}
a{
    text-decoration: none;
    font-size: 1.03rem;
}
p{
    font-size: 1.4rem;
}

.list-style{
    list-style: none;
    padding: 0;
}

/* MAIN-STYLE */

.container{
    max-width:1280px;
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

.pad{
    padding: 2rem 2rem;
}
.line-height{
    line-height:3rem ;
}
.bar-logos, .bar-normal a{
    color:black;
}
/* TEXT-STYLE */
.align-center{
    align-items: center;
}

.center{
    justify-content:center;
    align-items:center;
}
.text-align{
    text-align: center;
}

.tag a{
    color: #F58A07;
}
.tag a::after{
    content: ' \2192 ';
}

/* BACKGROUND-COLOR */

.DarkBlue{
    background-color:#063255 ;
}

.LightBlue{
    background-color:#DCEAF5;
}

.Orange{
    background-color: #F58A07;
}


/* LAYOUT */

.row{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}

.col-2-2{
    width: calc(100%/2 - 100px);
}
.col-3-3{
    width: calc(100%/3 - 27px);
}

.col-2{
    width: calc(100%/2 - 40px);
}

.col-3{
    width: calc(100%/3 - 40px);
}


 /* NAV-STYLE */
.main-nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.main-nav .brand-logo, .footer .brand-logo{
    font-size: 2rem;
    font-weight: 700;
}

.nav-items{
    display: flex;
    list-style: none;
}
.nav-items li{
    padding: 0 1rem;
}




/* HERO-SECTION */

.hero-content h1{
    margin: 0;
}

.main-bar{
    color: #F58A07;
    padding: 20px;
    background-color: #faeddf;
    margin-left:1rem;
    border-radius: 50px;
    
}

.hero-section{
    padding: 0;
}


.partner-logos{
    display: flex;
    list-style: none;
    gap:40px;
    padding: 0;
}
.hero-section .col-2 img{
    vertical-align: bottom;
}
/* HERO-SECTION-PAD */
.bar-pad a{
    color: #DCEAF5;
    padding: 14px 25px;
    background-color: #F58A07;
    border-radius: 50px;
}
.hero-bar .row{
    gap:20px;
    padding: 0;
    text-decoration: none;
}
.hero-bar .col-2-2{
    margin-top: 20px;
    margin-bottom: 40px;
    list-style: none;
    text-decoration: none;
}

/* Strategy */
.strategy-card img{
    border-radius: 20px;
}

/* SOLUTION */
.Solution-card{
    background-color: white;
    border-radius: 20px;
    padding: 25px;
}

.sol-head h2{
    margin-top: 0;
}

/* ENERGY */
.energy-bar{
    font-size: 3rem;
    color: #F58A07;
}

.energy-img img{
    border-radius: 30px;
}
/* RESEARCH */
.Research .container{
    padding: 50px;
    padding-top: 0px;
    border-radius: 50px;
}

.Research img{
    float:right;
}

.res-bar{
    
    border: 1px solid #5B5B5B;
    border-radius: 20px;
}

.res-bar a{
    color: #5B5B5B;
}

.res-bar-bar{
    border: 2px solid #f1eeee;
    border-radius: 20px;
    background-color: white;
}

.res-bar-bar a{
    color: #F58A07;
}
.res-img{

    position: relative;
    width: 117%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.res-img-2{
    padding-top: 50px;
}

/* Experience */

.Experience-img{
    background-image: url(/images/experience-image.png);
    height: 60vh;
    background-size: cover;
}

.Experience-text{
    color: white;
    padding: 50px;
}
.Experience-text a{
    color: #F58A07;
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
}

/* DREAM */
.dream-img{
    border-radius: 50px;
}
/* BLOG */
.Blog .post img{
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px
}
.Blog .post{
    background-color: white;
    border-radius: 30px;
}

/* Footer */

footer{
    color: white;
}



/* SLIDE-2 */

.row-1{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}

.developer .col-3{
    padding: 10px;
    border-radius: 20px;
}


